img.picture {
    
    cursor: pointer;
    border-radius: 3px;
}

img:hover {
    opacity: 0.7;
}


img.highlighted {
    margin-top: 3px;
    cursor: pointer;
    border-radius: 5px;
    border: 6px solid white;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    transition: 0.3s;

}